.split-content {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	height: 100vh;
}

.content-item {
	flex: 1 0 100%;
	display: flex;
	justify-content: center;

	&--first {
		height: 30%;
		align-items: flex-end;
		}

	&--second {
		@include bg($blue-dark,1);
		@include color($off-white,1);
		height: 70%;
		align-items: flex-start;
		}

	@include bp-l {
		flex: 1;
		height: 100%;
		align-items: center;
		}	
	}

.content-item-inner {
	flex: 1;
	max-width: 90vw;
	padding: 10vw;
	@include bp-l {
		max-width: 65ch;
		padding: 0 $space*2;
		}
	}


// Contact Links
.contact-links {
	margin-bottom: 0;
	}

	.contact-link {
		position: relative;
		@include color($white,1);
		display: inline-block;
		//margin-bottom: .5rem;
		
		&:hover,
		&:focus,
		&:active {
			@include color($off-white,1);
			}

		&:after {
			content: "|";
			font-weight: $normal;
			@include color($white,.25);
			margin-right: $space/6;
			padding-left: $space/3;
			}

		&:last-of-type {

			&:after {
				content: "";
				padding-left: 0;
				}
			}

		/* @include bp-xl {
			display: inline-block;
			} */
		}





